section.slider
    position: relative
    width: 100%
    
    .slider-scale
        background-color: blue
        height: 2px
        padding: 4px 0
        cursor: pointer

    .slider-button 
        position: absolute
        top: 0
        width: 10px
        height: 10px
        background-color: red
        cursor: pointer

        